:root {
    --background: black;
    --text: black;
    --primary: black;
    --secondary: black;
    --tertiary: black;
}

body {
    background-color: var(--background);
    
}

h1 {
    color: var(--primary);
}